
<md-card ng-if="ContextMenuState.isDisplayable()"
				 class="card context-menu"
				 ng-style="{top:ContextMenuState.getTopPos()+'px', left:ContextMenuState.getLeftPos()+'px'}">
	 <md-card-title>
		 <md-card-title-text>
			 <span class="md-headline context-menu-name">{{ContextMenuState.getTitle()}}
				 <i class="fa fa-map-pin selected"
				 	ng-class="ContextMenuState.isEntitySelected() ? 'is-selected' : ''"
					ng-show="canSelectEntity()"
					ng-click="ContextMenuState.triggerSelectedEntity()"
					title="Click to select/unselect this entity"></i>
			 </span>
			 <span class="description">{{ContextMenuState.getEntity().description}}</span> <!-- When available... -->
		 </md-card-title-text>
	 </md-card-title>
	 <md-card-content>
		 <ul>
			 <li ng-repeat="p in ContextMenuState.getEntityProperties()"><span class="info-key">{{p.field}} :</span> {{p.value}}</li>
		 </ul>

		 <div class="component-info">
			 <span
			 		ng-if="!!ContextMenuState.getComponent().name"
			 		ng-click="centerToComponent()" class="md-button"
					title="Click to zoom into this component">
					{{ContextMenuState.getComponent().name}}
			 </span>
			 <ul>
				 <li ng-repeat="p in ContextMenuState.getComponentProperties()"><span class="info-key">{{p.field}} :</span> {{p.value}}</li>
			 </ul>
		 </div>

	 </md-card-content>
	 <md-card-actions layout="row" layout-align="end center">

		 <a
		 		ng-repeat="(name,url) in ContextMenuState.getTrack().links"
		 		class="md-button link"
		 		target="_blank"
		    ng-href="{{createUrl(url)}}"
				ng-attr-title="View in {{name}}">
		 		{{name}}</a>

		 <md-button
		 		class="morph-button"
		 		ng-repeat="morphTarget in ContextMenuState.getMorphTargets()"
				ng-click="morphToEntity(morphTarget.trackType)"
				>
				{{morphTarget.name}}</md-button>

		<md-button
			class="fork-button"
			ng-repeat="forkTargetConf in ContextMenuState.getTrack().forksTo"
			title="Fork to..."
			ng-click="forkToEntity(forkTargetConf)"
			>{{forkTargetConf.name}}</md-button>

		 <md-button
		 		ng-show="canCenterToEntity()"
		 		ng-click="centerToEntity()"
				ng-attr-title="Center to {{ContextMenuState.getEntity().name}}">
		 		Zoom</md-button>

	 </md-card-actions>
</md-card>
