.context-menu{
  position: absolute !important;
  z-index: 10;
  max-width: 400px;
}

.context-menu .context-menu-name{
  word-break: break-word;
  word-break: break-all;
}

.context-menu .description{
  font-style: italic;
  font-size: 14px;
  color: rgb(0, 96, 100);
}

.context-menu .md-card-title{
  padding-bottom: 6px;
}

.context-menu ul{
  list-style: none;
  text-align: left;
  padding-left: 0px;
  color: #607D8B;
  font-size: 14px;
  margin: 0px;
}

.context-menu ul li{
  padding: 3px;
}

img{
  margin: 5px;
}

.component-info{
  margin-left: 5px;
}

.info-key{
  font-weight: bold;
  text-transform: capitalize;
}

.context-menu .md-button{
  font-size: 12px;
  color: #0D47A1;
  min-width: inherit;
}

.context-menu .selected{
  font-size: 14px;
  color: grey;
}

.context-menu .selected.is-selected{
  color: #FF1744;
}
