<div class="reference-card" layout="row">

 <div class="ref-control" layout="column"
 ng-style="{'background-color':ref.color}"
 ng-attr-title="Reference {{ref.refId}}">

  <i ng-click="Dialogs.showAddTrackDialog(ref)" class="fa fa-plus" aria-label="Add track" title="Add track"></i>
  <span flex></span>
  <i ng-click="removeReference(refId)" class="fa fa-close" aria-label="Remove reference" title="Remove reference"></i>
 </div>

 <!-- TODO : "Inverse reference" button to inverse the rendering of track components (start on the right, end on the left)
      to make it easier to compare proteins with - strand transcripts, and orthologous transcripts that are on different strands
  -->

 <div class="tracks" layout="column">

  <div class="ref-tracks-controls-wrapper" layout="row">
    <div class="ref-tracks-controls-line" ng-style="{'border-color' : ref.color}" flex></div>
     <div class="ref-tracks-controls" ng-style="{'border-color':ref.color, 'color': ref.color}">

       <a class="fa fa-minus" ng-click="ref.zoom(-200)" title="Zoom out"></a>
       <span>Zoom</span>
       <a class="fa fa-plus" ng-click="ref.zoom(200)" title="Zoom in"></a>

       <i ng-click="Dialogs.showSearchDialog(ref)" ng-if="ref.searchable" class="fa fa-crosshairs" aria-label="Change location" title="Change location"></i>
     </div>
     <div flex></div>
   </div>

   <div ng-show="isReferenceEmpty()" class="empty-ref-help">
     This is an empty {{ref.name}} reference. Please click on <i class="fa fa-plus"></i> to add tracks.
   </div>

   <track-card
     ng-repeat="track in ref.getOrderedTracks()"
     track="track"
     layout="column"
     class="track-card"
     ng-class="[track.getStatus(), 'loading_'+track.isLoading()]"
     data-track-id="{{track.trackId}}"
     >
   </track-card>

 </div>
</div>
