.ref-control{
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  box-sizing: border-box;
  min-height: 100px;
  min-width:20px;
  width:20px;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ref-control .fa{
  margin-bottom: 5px;
}

.empty-ref-help{
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  max-width: 800px;
  color: #607D8B;
}

.ref-tracks-controls{
  user-select: none;
  padding: 5px;
  font-size: 12px;

  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.ref-tracks-controls a{
  padding: 5px;
  padding-right: 10px;
}

.ref-tracks-controls-line{
  height: 11px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
