
.card-header-title{
		font-weight: bolder;
		color:#FFFFFF;
}

.card-header-subhead{
	color:#FFFFFF;
}


/*
	In following CSS selectors we recode the card concept from angular-material
	in pure CSS to avoid creation of multiple directives.
*/
.card{

	border-radius: 2px;
	flex-direction: column;
	margin: 8px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	display: flex;
	box-sizing: border-box;

}

.card .card-header{
	padding: 16px;
	display: flex;
	flex-direction: row;
	color: #FFFFFF;
}

.card .card-header .card-header-text{
  display: flex;
	flex: 1;
	flex-direction: column;
	max-height: 40px;
}

.card .card-header .card-header-avatar{
	font-size: 36px;
	margin-right: 12px;
	width: 40px;
	height: 40px;
}

.card .card-content{
	display: block;
	padding: 16px;
}

.card .card-header{
	background-color: #009688;
}

.card .card-header .material-icons{
	color: #B2DFDB;
}
 
