body{
	margin:0px;
	padding:0px;
	height: auto;
	font-family: Luxi Sans,Helvetica,Arial,Geneva,sans-serif;
	/* background-color: #EBF1CF; */
}

.status-message{
	color: white;
}


.fa{
  cursor: pointer;
	outline:none;
}



.toast-warning{
	background-color: #FF5722;
}

.toast-info{
	background-color: #0D47A1;
}


.app-loading{

	color: grey;
	font-size: 18px;
	text-align: center;
}

.footer .left, .footer .right{

	color:grey;
	font-size:12px;
	padding: 5px;
}

.footer .left{
	float: left;
}

.footer .right{
	float: right;
}

.footer a{
	color: #4a95c8;
	padding-right: 10px;
}
