
.filters-title{
  font-size: 20px;
  margin: 10px;
  text-transform: uppercase;
}

.filters-title .fa{
  float:right;
}

/* Inspired by https://bitbucket.org/secanis/angular-simple-sidebar */

.side-menu {
    position: fixed;
    z-index: 1000;
    display: block;
    left: -380px;
    top: 50px;
    bottom: 0px;
    width: 320px;
    padding: 25px;
    background-color: #eee;
    color: #000;
		box-shadow: 6px 0px 18px 0px rgba(0,0,0,0.26);
}

.side-overlay {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.slide-in {
    animation: slide-in-kf 0.5s forwards;
}

@keyframes slide-in-kf {
    100% { left: 0px; }
}

.slide-out {
    animation: slide-out-kf 0.5s backwards;
}

@keyframes slide-out-kf {
    0% { left: 0px; }
    100% { left: -350px; }
}

.status-of-entities{
  text-transform: uppercase;
  color: #455A64;
}

.status-of-entities .found{
   color: #1B5E20;
}

.status-of-entities .not-found{
   color: #B71C1C;
}

.overview-tips{
  font-style: italic;
  color: grey;
  font-size: 12px;
}

.charts{
  height: 85%;
}
