<div class="side-menu slide-{{Overview.getSidebarState()}}" >

      <div class="filters-title">
          <span>{{StateManager.getActiveTrack().name}} OVERVIEW</span>

           <!-- <i class="fa fa-eraser" ng-click="StateManager.getActiveTrack().resetCategoryFilters()"></i> -->

          <i aria-label="Close overview" class="fa fa-close close-overview" ng-click="Overview.closeSidebar()"></i>
      </div>
      <span class="overview-tips">Click on categories to show/hide them in the browser</span>

      <div layout="flex">

      </div>

      <md-divider></md-divider>

      <!-- Showing data from meta category of the currently selected track -->
      <md-content class="charts" >

          <!-- A hichart chart for each category in meta of the track
               When selecting legend items, this updates the related track by sending selected filters to the rest api
         -->
         <div ng-repeat="track in StateManager.getAllTracks()"
              ng-show="track === StateManager.getActiveTrack()"
              class="track-overview">
           <highcharts ng-repeat="(category,data) in track.getOverview()"
                       data="data"
                       category="category"
                       track="track">
           </highcharts>
         </div>

      </md-content>

</div>
