<div layout="row">
  <div layout="column" class="interval">
    <div title="Click on a feature to display the action menu" class="browser browsable"></div>

    <div class="ticks" layout="row">
      <div flex class="tick" ng-repeat="tick in ::ticks"></div>
    </div>

    <span class="track-footer" layout="row">

        <a class="fa fa-arrow-left browse-left" ng-hide="track.minReached()" ng-click="track.getReference().browse(-100)" title="Browse left"></a>

        <span class="track-start" ng-class="track.minReached() ? 'ref-limit' : ''">{{track.getIntervalParams().start}}</span> <!-- RED if equals to min -->
        <span flex></span>
        <span class="interval-legend">
          Interval size is <b>{{track.getDisplayableIntervalSize()}} {{track.getReference().unit}}</b>
          A tick represents {{track.getDisplayableTickSize()}} {{track.getReference().unit}}
        </span>
        <span flex></span>
        <span class="track-end" ng-class="track.maxReached() ? 'ref-limit' : ''">{{track.getIntervalParams().end}}</span> <!-- RED if equals to max -->

        <a class="fa fa-arrow-right browse-right" ng-hide="track.maxReached()" ng-click="track.getReference().browse(100)" title="Browse right"></a>
    </span>
    <span class="legend" ng-bind-html="getLegend()"></span>
    <span ng-if="track.getFilter().getNotFoundEntities()" class="entities-not-found">Not found: {{track.getFilter().getNotFoundEntities()}}</span>
  </div>

  <div class="enames" title="Click to view in..."></div>
</div>
