toolbar{

	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 100;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

toolbar .md-toolbar-tools img{
	margin-right: 20px;
	width: 50px;
  height: 50px;
}

toolbar .md-toolbar-tools{
	/* Vectorbase website standards :( */
		background-color: #f5f7e7;
		background-image: url('../images/header_bkgrnd.png');
		background-repeat: repeat-y;
		background-position: left center;
		color: #27638c;
	/* End of Vectorbase website standards :) */
	height: 50px;
	min-height: 50px;
	max-height: 50px;
}

toolbar .md-toolbar-tools md-icon{
	color:  #E0F2F1;
}

toolbar .md-toolbar-tools .md-button{
	background-color: rgb(133, 153, 55);
	color: #E0F2F1;
}


toolbar .md-toolbar-tools .md-button:not([disabled]):hover{
	background-color: rgb(133, 153, 55);
	color: #E0F2F1;
}

toolbar .fa{
  font-size: 26px;
  color: rgb(133, 153, 55);
  margin-left:20px;
}

/* Button in VectorBase colors style */
.vb-button{
  background-color: rgb(133, 153, 55);
  padding: 6px;
	margin: 6px;
  color: white;
  text-align: center;
 	border-radius: 2px;
 	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	font-weight: 500;
  font-size: 14px;
}

#load-session, #save-session{
	background-color: #00838F;
}

#undo-session, #reset-session{
	background-color: #D84315;
}

#add-ref{
	background-color: #4CAF50;
}

.vb-button .fa{
	color: white;
	font-size: 14px;
	margin: 0px 6px 0px 0px;
}


.beta{
	font-size: 10px;
	color: grey;
	max-width: 250px;
	font-weight: normal;
}

.beta a{
	color: #D84315;
}

.beta .beta-mark{
	color: #D84315;
	font-size: 12px;
}
