<div class="md-toolbar-tools">
     <a href="/" title="Go to VectorBase website"><img src="images/vectorbase.png"/></a>
     <div hide-xs hide-sm style="font-size:16px;">
       VectorBase
       <div style="font-size: 10px; color:grey; max-width:250px; font-weight:normal;">
         Bioinformatics Resource for Invertebrate Vectors of Human Pathogens</div>
      </div>

     <!-- <i ng-click="Overview.triggerSidebar()" class="fa fa-bars" title="Show overview"></i> -->

      <!-- ADD REF -->
      <md-button
        id="add-ref"
        ng-click="Dialogs.showAddReferenceDialog()"
        aria-label="add reference"
        title="Add a new (genomic, protein, etc) reference" >
        Add new reference
      </md-button>

     <!-- LOAD-->
     <i type="file" ngf-select="StateManager.load($file, $invalidFiles)"
          accept="json" ngf-max-size="1MB" class="vb-button" id="load-session" title="Load session">
          <i class="fa fa-upload"></i>LOAD
      </i>

     <!-- SAVE -->
     <i ng-show="StateManager.notEmpty()" ng-click="StateManager.save()" class="vb-button" id="save-session" title="Save session">
       <i class="fa fa-download"></i>SAVE
     </i>

      <span flex></span>

      <div hide-xs hide-sm class="beta">
        This app is currently in <span class="beta-mark">BETA</span>. Please help us improve it by sending remarks and suggestions to
        <a href="mailto:info@vectorbase.org">info@vectorbase.org</a>
      </div>

      <span flex></span>

      <i ng-show="StateManager.notEmpty()"
         ng-click="StateManager.removeAllReferences()"
         aria-label="Reset" class="vb-button" id="reset-session" title="Remove all references and show tutorial">
        <i class="fa fa-eraser"></i>RESET
      </i>

      <i ng-show="StateManager.canUndo()"
         ng-click="StateManager.undo()"
         aria-label="Undo" class="vb-button" id="undo-session" title="Undo your last action">
        <i class="fa fa-undo"></i>UNDO
      </i>

</div>
<!-- References are resolved (color 1) -->
<md-progress-linear ng-show="!StateManager.isStandBy()"  md-mode="indeterminate"></md-progress-linear>
<md-progress-linear ng-show="!StateManager.noExportsRunning()" md-mode="indeterminate" class="md-warn"></md-progress-linear>
