
.wellcome-message{
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	max-width: 100%;
	color: #607D8B;
}

.wellcome-message .page-title{
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.presentation-cards {
  justify-content: center;
}

.presentation-cards div{
	width: 400px;
	min-height: 200px;
	background-color: white;
	text-align: center;
	margin:10px;
	padding:20px;
}

.presentation-cards span{
	font-weight: bolder;
	font-size: 30px;
}

.presentation-cards .fa{
	cursor:default;
	font-size: 40px;
	color: #4CAF50;
	margin:10px;
}

.presentation-cards p{
	font-size: 18px;
	text-align: justify;
}

.presentation-cards p .fa{
	cursor:pointer;
	font-size: 20px;
}

.presentation-cards ul{
	list-style-type: none;
}

.presentation-cards ul li{
	font-size: 16px;
	font-weight: bolder;
	text-align: left;
}

.presentation-cards .pc-pink .fa, .presentation-cards .pc-pink b{
	color: #E91E63;
}

.presentation-cards .pc-green .fa, .presentation-cards .pc-green b{
	color: #4CAF50;
}

.presentation-cards .pc-blue .fa, .presentation-cards .pc-blue b{
	color: #03A9F4;
}

.presentation-cards .pc-red .fa, .presentation-cards .pc-red b{
	color: #B71C1C;
}

.presentation-cards img{
	box-shadow: 6px 6px 2px #F3E5F5;
}
