<div class="wellcome-message">

  <p class="page-title"><b>Genotype Explorer</b></p>

  <div class="presentation-cards" layout="row" layout-wrap>

    <div class="pc-red">
      <i class="fa fa-magic"></i>
      <span>Introduction</span>
      <p>
        Genotype Explorer will help you explore genetic variations within a genomic or proteomic context.
        <p>
          To allow you to easily <b>explore</b> new species and features, Genotype Explorer allows you to create references,
          or add samples to a genotype track without knowing species names, transcript or sample ids.
        </p>

        <p>
          You can simply start typing a subject you are interested in <b>(ex: 'zika')</b> and the <b>autosuggest</b> will suggest
          to you species linked to that subject,
          e.g. if you are interested in mosquitos resistant to DDT, simply type 'ddt' in samples dialog.
        </p>
      </p>
    </div>

    <div class="pc-blue">
      <i class="fa fa-map-o"></i>
      <span>References</span>
      <img src="images/tutorial/reference.png" alt="Image showing how to add a new reference" />
      <p>
        A reference is used to provide a uniform system of coordinates to draw features on screen.
        Genotype Explorer is compatible with any uni-dimentional references such as transcript, DNA or protein sequences.
        <p>
          Currently supported types of references are <b>Genome</b> and <b>Protein</b>.
        </p>
        <p>
          You can add multiple references to allow you to easily <b>compare features between different organisms</b>,
          intervals of the same chromosome, etc...
        </p>
        <i class="md-button md-raised md-primary" ng-click="clickAddRef()">Add a reference</i>
      </p>
    </div>

    <div class="pc-green">
      <i class="fa fa-exchange"></i>
      <span>Tracks</span>
      <img src="images/tutorial/track.png" alt="Image showing two tracks" />
      <p>
         A track groups features of a given type which are then displayed in context of a specific reference.
         This means that you have to add a reference to your project, before you can add tracks.
        <p>
          Some tracks allow you to download the current interval,
          e.g. the genotype track allows you to download a <b>VCF</b> file corresponding to the displayed interval and selected samples.
        </p>
        <p>
          Some features can be <b>morphed</b> into others. For example you can click on a transcript and morph it into a protein.
        </p>
      </p>
    </div>

    <div>
      <i class="fa fa-pie-chart"></i>
      <span>Overview</span>
      <img src="images/tutorial/overview.png" alt="Image showing the overview legend for a track" />
      <p>
        Most of the tracks provide an overview of the properties of currently displayed features.
        To show/hide the overview you can click the <i class="fa fa-bars"></i> icon in the toolbar.
        For example, for the <b>genotypes</b> track you can visualise a chart of consequences of these genotypes on each transcript.
        By clicking items of the legend, you can hide/show genotypes with specific consequences.
      </p>
    </div>


    <div class="pc-pink">
      <i class="fa fa-folder"></i>
      <span>Load / Save / Undo</span>
      <p>
        You can save the current state of your work and load it later, or <b>share</b> the
        save file with collegues. If you are not happy with any action you have executed
        (browsed to bad location, accidentally removed a track) you can click on the <b>UNDO</b> button
        to return to the previous state of the application.
        <p>If you have saved previous work, you can click on
        <i class="fa fa-upload" ng-click="clickLoad()"></i> to load it.</p>

      </p>
    </div>

  </div>

</div>
