<!DOCTYPE html>
<html>
    <head>
      <!-- Please note that this file is never served by the server.
          It is instead modified by gulp and copied to templates/index.html.ep to allow inserting in the body
          the configuration received by POST
      -->
        <title>Genotype Explorer</title>
        <meta name="description" content="Explore genotype data for mosquito species which vector zika, malaria and other diseases, such as anopheles gambiae, aedes aegypti and others, in genomic and proteic context">
        
        <base href="/lera/"/>

        <link rel="icon" href="images/vb-favicon.png" type="image/png" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="vendor/vendor.css"/>
        <link rel="stylesheet" href="lib/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="dist/all.css"/>

    </head>

    <body id="ng-app" ng-app="lera">

      <div style="height: 55px;">
        <div ng-if="false" class="app-loading">
          <img src="images/vectorbase.png" class="fa fa-spin" height="40" width="40" />
          Genotype Explorer is loading...
        </div>
      </div>

      <!-- Sidebar -->
      <overview-card></overview-card>

      <toolbar></toolbar>

      <info></info>

      <div layout="row" style="margin-top:10px; min-height:600px;">
        <!-- This data-conf will allow us to pass to the angular app the GET/POST configuration received by the server -->
        <lera data-conf="<%= $conf %>"></lera>
      </div>

      <div class="footer">
        <div class="left">
          <span class="version" >
            <!-- build:version -->
            <!-- endbuild -->
          </span>
          <a href="/">VectorBase</a>
        </div>
        <div class="right">
          <a href="/about" target="_blank">About</a>
          <a href="/organisms" target="_blank">Organisms</a>
          <a href="/navigation/downloads" target="_blank">Downloads</a>
          <a href="/navigation/tools" target="_blank">Tools</a>
          <a href="/navigation/data" target="_blank">Data</a>
          <a href="/navigation/help" target="_blank">Help</a>
          <a href="/navigation/community" target="_blank">Community</a>
          <a href="/contact" target="_blank">Contact us</a>
        </div>
      </div>

      <script type="text/javascript" src="vendor/vendor.js"></script>
      <script type="text/javascript" src="dist/all.js"></script>

    </body>
</html>
