<!DOCTYPE html>
<html>
    <head>
        <title>Some third party website</title>

        <base href="/lera/"/>

        <link rel="icon" href="images/vb-favicon.png" type="image/png" />

        <link rel="stylesheet" href="vendor/vendor.css"/>
        <link rel="stylesheet" href="lib/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="dist/all.css"/>

      	<script type="text/javascript" src="vendor/vendor.js"></script>
        <script type="text/javascript" src="dist/all.js"></script>

        <script type="text/javascript">

          angular.module('tpw', ['ngMaterial'])

          .controller('AppCtrl', function($scope) {

            $scope.getJson = function(){

              return JSON.stringify([{
                  "type": "ensGenome",
                  "data": {
                      "species": $scope.species,
                      "query": $scope.gene_id
                  },
                  "tracks": [{
                      "type": "vcftoolsGenotype",
                      "filters": {
                          "entities": $scope.samples ? $scope.samples.split(",") : []
                      }
                  }]
              }]);

            }

          });

        </script>

    </head>

    <body>

    <div id="ng-app" ng-app="tpw">

      <div ng-controller="AppCtrl" layout="column" ng-cloak>

        <p>
          <h2 style="text-align:center;">Demo for configuring LERA with POST request</h2>
        </p>

          <md-content layout-padding>
            <form name="projectForm" action="/lera"  method="POST" target="_blank">

              <md-input-container class="md-block">
                <label>Species (ex: anopheles_gambiae)</label>
                <input ng-model="species">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Gene stable id (ex: AGAP004685)</label>
                <input ng-model="gene_id">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Samples (ex: AB0119-C, AB0122-C)</label>
                <input ng-model="samples">
              </md-input-container>

              <md-input-container class="md-block">
                <label>Following conf will be sent :</label>
                <input type="text" readonly name="conf" ng-value="getJson()">
              </md-input-container>

              <div>
                <md-button type="submit">Submit</md-button>
              </div>
            </form>
          </md-content>

        </div>

    </div>
    </body>
</html>
