<div class="lera">

  <reference-card
    ng-repeat="ref in StateManager.getOrderedReferences()"
    ref="ref"
    data-ref-id="{{ref.refId}}"
    ng-attr-id="{{ref.refId}}"
    ></reference-card>

</div>

<tutorial ng-if="isAppEmpty()"></tutorial>
