<a href tabindex="-1" class="autosuggest-item">
  <span class="sa-command">
    {{match.model.commandName}}
  </span>
  <span class="sa-identifier">
    {{match.model.identifier}}
  </span>
  <div class="sa-detail" ng-bind-html="match.model.description"></div>
 </a>
