<div layout="row">
  <md-input-container>
      <label>{{field.name}}</label>
      <input
        type="text"
        autocomplete="off"
        autocorrect="off"
        spellcheck="false"
        ng-model="rawValue"
        placeholder="{{field.name}}"
        uib-typeahead="item as item.identifier for item in getSuggestions($viewValue)"
        typeahead-append-to-body="true"
        typeahead-editable="false"
        typeahead-wait-ms="100"
        typeahead-min-length="triggerLength"

        typeahead-template-url="autosuggest/autosuggest_menu.template.html"
        typeahead-on-select="onSelect($item, $model, $label, $event)"
        typeahead-no-results="noResults"
        typeahead-loading="isLoading"
        />
        <div class="hint" ng-bind-html="getHint()"></div>
  </md-input-container>
</div>

<!-- Does not works great woth genome location, as only one match :
    typeahead-select-on-exact="true"
-->
