em{
  font-style: normal;
  font-weight: bolder;
}

.autocomplete-loading{
  width: 16px;
  height: 16px;
}

.hint{
  min-width: 210px;
  max-width: 210px;
  font-size: 12px;
  color: #0D47A1;
}

.hint .hint-bad{
  color: #B71C1C;
}

.hint .hint-selected{
  color: #1B5E20;
  font-weight: bolder;
}


.autosuggest-item{
  text-decoration: none;
}

.autosuggest-item .sa-identifier{
  font-weight: bolder;
  font-size: 14px;
}

.autosuggest-item .sa-detail{
  font-size: 12px;
  max-width: 500px;
  white-space: normal;
  word-break: break-word;
}

.autosuggest-item .sa-detail strong{
  font-weight: bolder;
  color: #FF5722;
}

li.active .autosuggest-item .sa-detail strong{
  font-weight: bolder;
  color: white;
}

.autosuggest-item .sa-command{
  font-weight: bolder;
  color: #00897B;
}

li.active .autosuggest-item .sa-command{
  font-weight: bolder;
  color: white;
}
