
.editable-value{
  cursor:pointer;
  background-color: #00838F;
  color: white;
  font-weight: bolder;
  padding: 2px 5px 2px 5px;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 10px;
}

/* https://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs */
.editable-value::-ms-clear {
    display: none;
}
