<md-dialog class="add-ref-dialog">
  <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Add a new reference</h2>
          <span flex></span>
          <md-button class="md-icon-button fa fa-close" ng-click="close()" aria-label="close"></md-button>
        </div>
      </md-toolbar>

  <md-dialog-content>
    <md-content layout-gt-sm="row" layout-padding>

      <md-radio-group ng-model="refType">
        <md-radio-button
          ng-repeat="(rt, conf) in availableRefTypes"
          ng-value="rt"
          class="md-primary select-ref-type">
          {{conf.name}}
        </md-radio-button>
      </md-radio-group>

      <autosuggest
        ng-repeat="field in getReferenceDataFields(refType)"
        field="field"
        value="intervalParams[field.name]"
        params="intervalParams"
      ></autosuggest>

   </md-content>
   <md-content>
     <div class="dialog-description">{{getSelectedConfProperty('description')}}</div>
   </md-content>

  </md-dialog-content>

  <md-dialog-actions layout="row">

    <md-button class="confirm-add-ref" ng-click="addReference()" ng-show="refType">
      Add
    </md-button>
  </md-dialog-actions>

</md-dialog>
