<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add a new track</h2>
      <span flex></span>
      <md-button class="md-icon-button fa fa-close" ng-click="close()" aria-label="close"></md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-content layout-gt-sm="row" layout-padding>

      <md-radio-group ng-model="trackType">
        <md-radio-button
          ng-repeat="(trackType, conf) in StateManager.registry.getTrackTypesForRefType(ref.refType)"
          ng-value="trackType">
          {{conf.name}}
        </md-radio-button>
      </md-radio-group>

   </md-content>
   <md-content>
     <div class="dialog-description">
       <img ng-if="!!getSelectedConfProperty('image')" ng-src="{{getSelectedConfProperty('image')}}" alt="track image" />
       {{getSelectedConfProperty('description')}}
     </div>
   </md-content>

  </md-dialog-content>

  <md-dialog-actions layout="row">

    <md-button ng-show="trackType" ng-click="addTrack()" >
      Add
    </md-button>
  </md-dialog-actions>

</md-dialog>
