.dialog-description{
  margin-left: 30px;
  margin-right: 30px;
  max-width: 500px;
  font-size: 16px;
  color: #0277BD;
  text-align: justify;
}

.dialog-description img{
  float: left;
  max-width: 480px;
  max-height: 300px;
  box-shadow: 6px 6px 2px #CFD8DC;
  margin-bottom: 10px;
  margin-right: 10px;
}

.tags{
  display:block;
  padding: 0 0 8px 3px;
}

.tag{
  background: rgb(224,224,224);
  color: rgb(66,66,66);
  border-radius: 16px;
  line-height: 32px;
  padding: 0 12px;
  margin: 8px 8px 0 0;
  height: 32px;
  float: left;
  font-size: 16px;
}

.remove-all-tags{

  color: rgb(66,66,66);
  border-radius: 16px;
  line-height: 32px;
  padding: 0 12px;
  margin: 8px 8px 0 0;
  height: 32px;
  float: left;
  font-size: 16px;
}

.ms-tag:hover{
  background: rgb(214,214,214);
}

.tag-content{
  display: inline-flex;
  float: left;
  white-space: nowrap;
  max-width: 100%;

  vertical-align: middle;
}

.tag-content strong{
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 350px;
	display: block;
}

.tag-content i{
	margin-left: 5px;
}

.tag-remove{
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
  width: 20px;
	margin-left: 5px;
}

.tag-remove:hover{
  font-weight: bolder;
}
