<md-dialog class="edit-filters-dialog">
  <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{getTitle()}}</h2>
          <span flex></span>
          <md-button class="md-icon-button fa fa-close" ng-click="close()" aria-label="close"></md-button>
        </div>
      </md-toolbar>

  <md-dialog-content style="max-width:600px;">

    <md-content layout-gt-sm="row" layout-padding layout-wrap>

      <div class="tags">
        <div class="tag" ng-repeat="entityFilter in filtersToEdit">
          <div class="tag-content">
            <strong>{{entityFilter}}</strong>
          </div>
          <i class="fa fa-close tag-remove" ng-click="removeTag($index)"></i>
        </div>

        <div ng-show="hasMultipleTags()"
          ng-click="removeAllTags()"
          title="Remove all added filters"
          class="fa fa-trash remove-all-tags">
        </div>
      </div>

      <autosuggest
        field="track.filtersAutocomplete"
        value="selectedFilter"
        params="intervalParams"
        values="filtersToEdit"
      ></autosuggest>

   </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">

    <md-button class="confirm-edit-filters" ng-click="updateEntityFilters()" >
      View {{track.filtersAutocomplete.name}}
    </md-button>
  </md-dialog-actions>

</md-dialog>
