<md-dialog class="add-fork-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add {{forkTargetConf.name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button fa fa-close" ng-click="close()" aria-label="close"></md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-content layout-gt-sm="row" layout-padding>

      <autosuggest
        field="forkTargetConf"
        value="forkValue"
        force-object-value="true"
        params="params"
        show-example="true"
      ></autosuggest>

    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">

    <md-button class="confirm-add-fork" ng-click="fork()" >
      Add
    </md-button>
  </md-dialog-actions>

</md-dialog>
