<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Change location</h2>
      <span flex></span>
      <md-button class="md-icon-button fa fa-close" ng-click="close()" aria-label="close"></md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-content layout-gt-sm="row" layout-padding>

      <autosuggest
        field="searchableConf"
        value="dataToEdit[searchable]"
        params="dataToEdit"
      ></autosuggest>

    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">

    <md-button ng-click="updateReferenceData()" >
      Jump
    </md-button>
  </md-dialog-actions>

</md-dialog>
