
<div class="track-overview"
  ng-style="{'color':track.reference.color}">

  <span class="status-display fa"></span>
  <span class="loading-display fa"></span>
  <span class="header">{{track.name}}</span>
  <span class="sub-header">{{ getHeader() }}</span>
  <editable value="track.label" default-value="My track"></editable>
</div>

<div layout="row"
  class="track-body"
  ng-mouseover="StateManager.setActiveTrack(track)"
  ng-style="{'border-color':track.reference.color}">

  <track-renderer></track-renderer>

  <div class="message browsable" ng-bind-html="track.getErrorMessage()"></div>

  <div flex></div>
  <div class="controls" layout="column">

    <a ng-click="setView()" class="fa fa-circle-o err-hide warn-hide" aria-label="Optimise view" title="Optimise view"></a>

    <a ng-show="track.filtersAutocomplete"
       ng-click="Dialogs.editEntityFiltersDialog(track)"
       class="fa fa-edit err-hide add-filters" aria-label="Add filters" ng-attr-title="Add {{track.filtersAutocomplete.name}}"></a>

    <a
      ng-if="track.hasExportCapability()"
      ng-click="export(track)"
      class="export-track-btn warn-hide err-hide"
      aria-label="Export track as file"
      title="Export current view as...">
      {{track.export.name}}
    </a>

    <a ng-show="track.overview.hasOverview()"
       ng-click="Overview.triggerSidebar()"
       ng-class="{'filters-applied' : track.filter.hasCategoryFilters()}"
       class="fa fa-bars err-hide warn-hide show-overview"
       aria-label="Show overview"
       title="Show overview">
     </a>

     <a
       ng-show="track.hasSelectedEntities()"
       ng-click="track.jumpToSelected()"
       class="fa fa-map-pin err-hide warn-hide"
       aria-label="Jump to selected"
       title="Jump to selected">
     </a>

    <div flex></div>

    <!-- <md-button ng-click="addAnnotator()" class="fa fa-indent" aria-label="Add annotator" title="Add an anotator"></md-button> -->

    <a ng-show="canMoveUp()" ng-click="changeDisplayOrder(-1)" class="fa fa-arrow-up secondary-controls" title="Move track up"></a>
    <a ng-show="canMoveDown()" ng-click="changeDisplayOrder(1)" class="fa fa-arrow-down secondary-controls" title="Move track down"></a>

    <a ng-click="remove()" class="fa fa-close" aria-label="Remove track" title="Remove track"></a>
  </div>

</div>
