.track-body{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  box-sizing: border-box;
  display: inline-flex;
  border-right-style: solid;
  border-right-width: 5px;
  user-select: none;
}

.track-footer{
  font-size: 12px;
  color: #455A64;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.legend{
  font-size: 12px;
  color: #455A64;
  padding-left: 5px;
  padding-right: 5px;
}

.legend .fa{
  cursor:default;
  padding: 5px;
}

.track-footer .ref-limit{
  color: #FF9800;
}

.track-card{
  margin-top: 8px;
  margin-left: 5px;
  /* width: 1250px; */
  min-height: 235px;
}

.reference-card .tracks{
  margin-bottom: 10px;
  width: 100%;
}

.track-card .fa-close:hover{
  color: #B71C1C;
}

.track-card .fa-arrow-left:hover, .track-card .fa-arrow-right:hover, .track-card .fa-plus:hover, .track-card .fa-minus:hover{
  color: #01579B;
}

.track-overview{
  margin-left: 3px;
  margin-bottom: 2px;
  font-size: 12px;
}

.track-overview .header{
  text-transform: uppercase;
}

.track-overview .sub-header{
  font-style: italic;
}

.track-card .controls{
  width: 46px;
}

.track-card .controls a{
  padding: 2px;
  margin: 3px;
  cursor: pointer;
  text-align: center;
  color: #00897B;
}

.track-card .controls a.secondary-controls{
  color: grey;
  font-size: 11px;
}


.track-card .controls a.filters-applied{
  color: #FF9800;
}


.track-card .controls a:hover{
  font-weight: bolder;
}

.reference-card.tracks-busy track-card .controls a{
  visibility: hidden;
}

.track-card button{
    min-width: 1%;
		min-height: 1%;
}

.track-card .controls a.export-track-btn{
  color: #2962FF;
  font-size: 12px;
}


track-card .entity{
  cursor: pointer;
}

track-card .elabel{
  cursor: pointer;
}

.status-display, .loading-display{
  width: 18px;
  font-size: 14px;
}

track-renderer{
  width: 100%;
}

track-renderer div{
  outline: none;/*#01579B;*/
}

/* TRACK STATUS */

track-card.pending .status-display:before{
  content:"\f0e7";
  color: grey;
}

track-card.ok .status-display:before{
  color: #1fa67a;
  content: "\f00c";
}

track-card.warn .status-display:before{
  color: #00838F;
  content: "\f129";
}

track-card.error .status-display:before{
  color: #C62828;
  content: "\f071";
}

track-card.loading_true .loading-display:before{
  color: #FF9800;
  content: "\f110";
}

track-card.loading_true .loading-display{
  animation: fa-spin 2s infinite linear;
  width: 1.28571429em;
  text-align: center;
}

/* END TRACK STATUS */

track-card .track-body.out_of_limits .display-error{
  color: #FF9800;
}

.browser{
  min-height: 20px;
}

.browser canvas{
  /* Removes the gap betwwn a canvas and the surrounding div :
  https://stackoverflow.com/questions/8600393/there-is-a-4px-gap-below-canvas-video-audio-elements-in-html5 */
  vertical-align: top;
}

.browser:active {
  cursor: ew-resize;
}



/* ERROR / WARNING message */

track-card.error track-renderer, track-card.warn track-renderer{
  display: none;
}

track-card.error .controls a.err-hide{
  visibility: hidden;
}

track-card.warn .controls a.warn-hide{
  visibility: hidden;
}

track-card.error .message, track-card.warn .message{
  display: block;
}

.track-body .message{

  display: none;

  font-size: 20px;
  padding: 20px;
  margin: 30px;
  text-align: center;
  vertical-align: middle;
  width: 900px;
  max-height: 300px;

  overflow: hidden;
  text-overflow: ellipsis;
}

track-card.error .message{
  color: #C62828;
  background-color: #FFEBEE;
}

track-card.warn .message{
  color: #00897B;
  font-size: 26px;
}

/* END error MESSAGE */

.ticks{
  min-height: 3px;
  max-height: 3px;
  height: 3px;
}

.ticks .tick:nth-child(even) {
  background-color: #0097A7;
}

.ticks .tick:nth-child(odd) {
  background-color: #80DEEA;
}

.browse-left{
  margin-right: 5px;
}

.browse-right{
  margin-left: 5px;
}

.entities-not-found{
  font-style: italic;
  color:#C62828;
  font-size: 12px;
}
